<div id="home_top">
    <% if(theme.hometop.bbtime){ %>
        <%- partial('partial/compoment/bbTimeList') %>
    <% } %>
    <%- partial('partial/hometop') %>
</div>
<main class="layout" id="content-inner">
    <%- partial('page/index') %>
    <%- partial('partial/compoment/aside') %> 
</main>     