<div id="console" style="zoom: 1;" class="">
    <div class="close-btn" onclick="acrylic.hideConsole()" href="javascript:void(0);">
        <i class="fas fa-circle-xmark"></i>
    </div>
    <div class="button-group">
        <div class="console-btn-item"> <a class="darkmode_switchbutton" onclick="acrylic.switchDarkMode()" title="显示模式切换"
                href="javascript:void(0);" rel="external nofollow" data-pjax-state=""><i class="fas fa-moon"
                    style="font-size: 1rem;"></i></a></div>
        <div class="console-btn-item" id="consoleMusic" onclick="heo.musicToggle()" title="音乐开关"><a class="music-switch"
                data-pjax-state=""><i class="fas fa-music"></i></a></div>
        <div class="console-btn-item" id="consoleFPS" onclick="heo.FPSToggle()" title="帧率显示开关"><a class="FPS-switch"
                data-pjax-state=""><i class="fas fa-gauge"></i></a></div>
    </div>
    <div class="console-mask" onclick="acrylic.hideConsole()" href="javascript:void(0);" rel="external nofollow"></div>
</div>