<div id="loading-box" onclick="heo.hideLoading();" class="" style="zoom: 1;">
    <div class="loading-bg"><img class="loading-img nolazyload entered loading" alt="loading image"
            src=""
            data-ll-status="loading"></div>
</div>