<div id="post-comment">
    <div class="comment-head">
        <div class="comment-headline"><i class="fas fa-message fa-fw"></i><span> 评论</span></div>
        <!-- <div class="comment-privacy"><a href="/privacy/" data-pjax-state="">隐私政策</a></div> -->
        <!-- <div class="comment-tips" id="comment-tips"><span>✅ 你无需删除空行，直接评论以获取最佳展示效果</span></div> -->
    </div>
    <div class="comment-wrap">
        <div id="tcomment"></div>
        <script>
            function initComment(){
               twikoo.init({
                envId: '<%= theme.comment.twikoo.envId %>',
                el: '#tcomment',
             }) 
            }
        </script>
    </div>
</div>