<div class="author-content author-content-item essayPage single" style="background: url(<%= page.cover %>) no-repeat center;background-size: cover;">
    <div class="card-content">
        <div class="author-content-item-tips"><%= page.title %></div>
        <span class="author-content-item-title"><%= page.desc %></span>
        <div class="content-bottom">
            <div class="tips">使用 即刻短文静态部署版 构建</div>
        </div>
    </div>
</div>