<div class="share-link weibo"><a class="share-button" target="_blank"
    href="https://service.weibo.com/share/share.php?title=<%= page.title %>&amp;url=<%= page.permalink %>&amp;pic=<%= page.cover %>"
    title="分享到微博" rel="noopener external nofollow noreferrer noopener">
    <i class="fab fa-weibo" style="font-size:22px"></i>
</a>
</div>
<div class="share-link copyurl">
<div class="share-button" id="post-share-url" title="复制链接" onclick="acrylic.copyPageUrl()">
    <i class="fas fa-link"></i>
</div>
</div>