<div class="aside-content" id="aside-content">
    <%- partial('partial/compoment/aside/infoCard') %>
    <!-- <div class="card-widget heo-right-widget" id="card-wechat" onclick="window.open('/wechat/')">
        <div id="flip-wrapper">
            <div id="flip-content">
                <div class="face"></div>
                <div class="back face"></div>
            </div>
        </div>
    </div> -->
    <div class="sticky_layout">
        <%- partial('partial/compoment/aside/asideSticky') %>
    </div>
</div>